*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/local.resources/references
/local.resources/tmp

/app/release
/app/src/main/res/values/keys.xml
